name: Monitor Services

on:
  schedule:
    - cron: '*/15 * * * *' # اجرا هر 15 دقیقه
  workflow_dispatch: # قابلیت اجرای دستی

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        pip install requests jdatetime pytz

    - name: Run monitor script
      run: python monitor.py

    - name: Commit and push changes
      run: |
        git config --global user.name 'Monitor Bot'
        git config --global user.email 'bot@noreply.github.com'
        git add data.json
        git diff --quiet && git diff --staged --quiet || (git commit -m "Update status" && git push)
